* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #092532;
}

.clientComponent_wrap {
  overflow: hidden;
}
.logo {
  padding: 20px;
  font-size: 32px;
  color: #89c9b8;
}
.my {
  font-size: 32px;
}
.tube {
  text-transform: uppercase;
}
