* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.videoCard_wrap {
  width: 20%;
  height: 80vh;
  transition: 0.5s;
}
.videoCard {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 350px;
  height: 100%;
  cursor: pointer;
}

.front,
.back {
  width: 100%;
  height: 100%;
  transition: transform 0.5s linear;
  overflow: hidden;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
  border: 2px solid black;
}
.front {
  background-color: darkgray;
}
.back {
  background-color: darkkhaki;
}
/* .front {
  transform: perspective(600px) rotateY(0deg);
  background: burlywood;
}
.back {
  transform: perspective(600px) rotateY(180deg);
  background: cornsilk;
} */

/* .videoCard:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}
.videoCard:hover > .back {
  transform: perspective(600px) rotateY(0deg);
} */

/* button [id="toBack"]:checked >.front {
  transform: perspective(600px) rotateY(-180deg);
} */
